/* .container {
    text-align: center;
    padding: 20px;
  }
  
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background: #fff;
    position: relative;
  }
  
  .cardImage {
    width: 100%;
    border-radius: 8px;
  }
  
  .newSkill {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #f00;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
  }
  
  .degree {
    color: #0073e6;
    font-weight: bold;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .secondary {
    background: #ddd;
    color: #333;
  }
  
  .btn:hover {
    background: #0073e6;
    color: #fff;
  } */











  .popularCertificates {
    margin-top: 40px;
    margin: 0 auto; /* Add margin: 0 auto; for center alignment */
    max-width: 1295px; /* Adjust max-width as needed */
    padding: 20px; /* Add padding for spacing */
  }
  
  .popularCertificates h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .popularCertificates p {
    margin-bottom: 20px;
  }
  
  .certificateGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .certificateCard {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .certificateCard img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .viewAllButton {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    color: #007bff;
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-start;
  }
  
  .showMoreButton {
    display: block;
    margin-top: 20px;
    margin-right: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }